<form role="form" data-bind="submit:login">
    <div class="row">
        <div class="large-6 columns">
            <label for="login">Login</label>
            <input type="text" autocomplete="off" autocapitalize="off" class="form-control" name="login" placeholder="Enter login" />
        </div>
        <div class="large-6 columns">
            <label for="password">Password</label>
            <input type="password" autocomplete="off" autocapitalize="off" class="form-control" name="password" placeholder="Enter password" />
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <input type="submit" class="small button expand" value="Login" />
        </div>
        <div class="large-6 columns">
            <a href="#signup" class="small secondary button expand">Signup</a>
        </div>
    </div>
</form>