<form role="form">
    <fieldset>
        <div class="form-group">
            <label for="login">Username</label>
            <input type="text" autocomplete="off" autocapitalize="off" class="form-control" name="username" placeholder="Enter login" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" autocomplete="off" autocapitalize="off" class="form-control" name="password" placeholder="Enter password" />
        </div>
        <div class="form-group">
            <label for="password">Retype Password</label>
            <input type="password" autocomplete="off" autocapitalize="off" class="form-control" name="retype" placeholder="Retype password" />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" autocomplete="off" autocapitalize="off" class="form-control" name="email" placeholder="Enter Email" />
        </div>
        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" autocomplete="off" autocapitalize="off" class="form-control" name="name" placeholder="Enter Full Name" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary col-xs-12" value="Signup" />
        </div>

        <div class="form-group">
            <a href="#login" class="btn btn-default col-xs-12">Login</a>
        </div>
    </fieldset>
</form>