<!DOCTYPE html>
<html manifest="manifest.appcache.php" data-interval="0">

<head>
    <meta charset="UTF-8" />
    <title>Think</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" href="img/favicon.png" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-ipadh.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-ipadv.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-iphoneh.png" media="screen and (min-device-width: 321px) and (min-device-width: 480px)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-iphonev.png" media="screen and (max-device-width: 320px)" />

    <link rel="icon" type="image/ico" href="img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-ico" href="img/favicon.ico" />

    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>

<body data-role="app" class="think-app">

    <div class="xin-viewport container">
        <div data-role="think.view.Navbar"
            data-template="templates/navbar.html" class="navbar">
        </div>

        <div data-role="pager" data-transition="slide" class="think-pager">
            <div data-role="think.view.Login"
                data-uri="login"
                data-model="app.user"
                data-template="templates/login.html"
                class="v-login">
            </div>

            <div data-role="think.view.Signup"
                data-uri="signup"
                data-template="templates/signup.html"
                class="v-signup"
                data-model="app.user">
            </div>

            <!-- require login here -->

            <div data-role="think.view.Menu"
                data-uri="menu"
                data-template="templates/menu.html">
            </div>

            <div data-role="think.view.Home"
                data-uri="home"
                data-uri-default="true"
                data-collection="app.tasks"
                class="v-home">
                <div data-role="think.view.Add"
                    data-collection="app.tasks">
                    <form>
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" x-webkit-speech name="subject" />
                            </div>
                            <div class="small-1 columns">
                                <input class="small expand button" type="submit" value="+" />
                            </div>
                            <div class="small-1 columns">
                                <a href="#full" class="small expand button" type="submit">&gt;</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <a href="#" class="show-super small button">&lt; Back</a>
                </div>
                <div data-role="list" data-collection="app.tasks" id="home-list">
                    <div data-role="list-item" class="list-item panel" data-view="think.view.ListItem">
                        <div class="row list-item-content">
                            <div class="small-12 columns show-default">
                                <%= model.get('subject') %><!--  (<%= model.subTaskCount() %>) -->
                            </div>
                            <div class="small-10 columns hide-default">
                                <%= model.get('subject') %><!--  (<%= model.subTaskCount() %>) -->
                            </div>
                            <div class="small-2 columns hide-default">
                                <a href="#movehere" class="small expand button">&gt;&gt;</a>
                            </div>
                        </div>

                        <div class="row collapse list-item-button-group">
                            <div class="small-3 columns">
                                <a href="#full" class="small expand button">Full</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#moveto" class="small expand button">Move To</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#subtask" class="small expand button">Sub</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#remove" class="small expand alert button">Remove</a>
                            </div>

                        </div>
                    </div>
                    <div data-role="list-empty">
                        <div style="text-align: center" colspan="2">
                            Empty
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/app.min.js"></script>
</body>
</html>