<!DOCTYPE html>
<html manifest="manifest.appcache.php" data-interval="0">

<head>
    <meta charset="UTF-8" />
    <title>Think</title>

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <link rel="apple-touch-icon" href="img/favicon.png" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-ipadh.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-ipadv.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-iphoneh.png" media="screen and (min-device-width: 321px) and (min-device-width: 480px)" />
    <link rel="apple-touch-startup-image" href="img/splash/splash-iphonev.png" media="screen and (max-device-width: 320px)" />

    <link rel="icon" type="image/ico" href="img/favicon.ico" />
    <link rel="shortcut icon" type="image/x-ico" href="img/favicon.ico" />

    <!-- combine:css css/app.css -->
    <link rel="stylesheet" type="text/css" href="vendor/normalize-css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="vendor/zurb-foundation/css/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/xin/css/xin.css" />
    <link rel="stylesheet" type="text/css" href="src/css/global.css" />
    <!-- endcombine -->
</head>

<body data-role="app" class="think-app">

    <div class="xin-viewport container">
        <div data-role="think.view.Navbar"
            data-template="templates/navbar.html" class="navbar">
        </div>

        <div data-role="pager" data-transition="slide" class="think-pager">
            <div data-role="think.view.Login"
                data-uri="login"
                data-model="app.user"
                data-template="templates/login.html"
                class="v-login">
            </div>

            <div data-role="think.view.Signup"
                data-uri="signup"
                data-template="templates/signup.html"
                class="v-signup"
                data-model="app.user">
            </div>

            <!-- require login here -->

            <div data-role="think.view.Menu"
                data-uri="menu"
                data-template="templates/menu.html">
            </div>

            <div data-role="think.view.Home"
                data-uri="home"
                data-uri-default="true"
                data-collection="app.tasks"
                class="v-home">
                <div data-role="think.view.Add"
                    data-collection="app.tasks">
                    <form>
                        <div class="row collapse">
                            <div class="small-10 columns">
                                <input type="text" x-webkit-speech name="subject" />
                            </div>
                            <div class="small-1 columns">
                                <input class="small expand button" type="submit" value="+" />
                            </div>
                            <div class="small-1 columns">
                                <a href="#full" class="small expand button" type="submit">&gt;</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <a href="#" class="show-super small button">&lt; Back</a>
                </div>
                <div data-role="list" data-collection="app.tasks" id="home-list">
                    <div data-role="list-item" class="list-item panel" data-view="think.view.ListItem">
                        <div class="row list-item-content">
                            <div class="small-12 columns show-default">
                                <%= model.get('subject') %> (<%= model.subTaskCount() %>)
                            </div>
                            <div class="small-10 columns hide-default">
                                <%= model.get('subject') %> (<%= model.subTaskCount() %>)
                            </div>
                            <div class="small-2 columns hide-default">
                                <a href="#movehere" class="small expand button">&gt;&gt;</a>
                            </div>
                        </div>

                        <div class="row collapse list-item-button-group">
                            <div class="small-3 columns">
                                <a href="#full" class="small expand button">Full</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#moveto" class="small expand button">Move To</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#subtask" class="small expand button">Sub</a>
                            </div>
                            <div class="small-3 columns">
                                <a href="#remove" class="small expand alert button">Remove</a>
                            </div>

                        </div>
                    </div>
                    <div data-role="list-empty">
                        <div style="text-align: center" colspan="2">
                            Empty
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- combine:js js/app.js -->

    <!-- libs -->
    <script type="text/javascript" src="vendor/zepto/index.js"></script>
    <script type="text/javascript" src="vendor/zepto-src/src/data.js"></script>
    <script type="text/javascript" src="vendor/simply-deferred/deferred.min.js"></script>
    <script type="text/javascript" src="vendor/lodash/dist/lodash.underscore.min.js"></script>
    <script type="text/javascript" src="vendor/backbone/backbone-min.js"></script>
    <!-- end libs -->

    <!-- zepto++
    <script type="text/javascript" src="vendor/zeptojs/src/event.js"></script>
    <script type="text/javascript" src="vendor/zeptojs/src/data.js"></script>
    <script type="text/javascript">
        jQuery = $;
    </script>
    <!-- end zepto++ -->

    <!-- xin -->
    <script type="text/javascript" src="vendor/xin/js/xin.global.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.detect.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.application.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.provider.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.ioc.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.router.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.ui.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.fx.js"></script>
    <script type="text/javascript" src="vendor/xin/js/xin.directive.js"></script>
    <!-- end xin -->

    <!-- xin-data -->
    <script type="text/javascript" src="vendor/xin-data/src/xin.data.js"></script>
    <script type="text/javascript" src="vendor/xin-data/src/adapters/local-storage.js"></script>
    <!-- end xin-data -->

    <script type="text/javascript" src="src/js/global.js"></script>
    <script type="text/javascript" src="src/js/remote.js"></script>
    <script type="text/javascript" src="src/js/data.js"></script>
    <script type="text/javascript" src="src/js/provider/data.js"></script>
    <script type="text/javascript" src="src/js/provider/directive.js"></script>
    <script type="text/javascript" src="src/js/provider/router.js"></script>
    <script type="text/javascript" src="src/js/model/user.js"></script>
    <script type="text/javascript" src="src/js/model/task.js"></script>
    <script type="text/javascript" src="src/js/view/add.js"></script>
    <script type="text/javascript" src="src/js/view/home.js"></script>
    <script type="text/javascript" src="src/js/view/list-item.js"></script>
    <script type="text/javascript" src="src/js/view/login.js"></script>
    <script type="text/javascript" src="src/js/view/menu.js"></script>
    <script type="text/javascript" src="src/js/view/navbar.js"></script>
    <script type="text/javascript" src="src/js/view/signup.js"></script>
    <script type="text/javascript" src="src/js/middleware/auth.js"></script>

    <script type="text/javascript" src="src/js/app.js"></script>

    <!-- components -->
    <script type="text/javascript" src="vendor/component-rcache/rcache.js"></script>
    <!-- end components -->

    <!-- endcombine -->
</body>
</html>