.v-home .list-item {
    margin-bottom: 0;
    border-top: none;
    -webkit-transition: all .3s ease;
    height: 55px;
    overflow: hidden;
}

.v-home .list-item.selected {
    height: auto;
}

.v-home .list-item:first-child {
    border-top: 1px solid #d9d9d9;
}

.v-home .list-item .button {
    margin-bottom: 0;
}

.v-home .list-item .list-item-button-group {
    margin-top: 1.25em;
}


.think-list {
    margin: 0 20px;
    list-style: none;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

.think-list .row a {
    display: block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-bottom: 0 none;
}

.think-list .row:first-child a {
    border-radius: 10px 10px 0 0;
}

.think-list .row:last-child a {
    border-bottom: 1px solid #ccc;
    border-radius: 0 0 10px 10px;

}

.hide-default {
    display: none;
}

.mode-move .hide-default {
    display: block;
}

.mode-move .show-default {
    display: none;
}